<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdu.mobilePhone.dao.DiscountDao">

    <select id="selDiscount" parameterType="Discount" resultType="Discount">
        select id,name,rule,discount,status from discount
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null and id > 0">
                id = #{id}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="rule != null">
                rule = #{rule}
            </if>
            <if test="discount != null and discount > 0">
                discount = #{discount}
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </trim>
    </select>

    <insert id="addDiscount" parameterType="Discount">
        insert into discount (name,rule,discount,status) values (id,name,rule,discount,status)
    </insert>

    <delete id="delDiscount" parameterType="Integer">
        delete from discount where id = #{id}
    </delete>

    <update id="updDiscount">
        update discount
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="name != null and name.length()>0">
                name=#{name} ,
            </if>
            <if test="rule != null and rule.length()>0">
                rule=#{rule} ,
            </if>
            <if test="discount != null and discount > 0">
                discount=#{discount} ,
            </if>
            <if test="status != null">
                status=#{status} ,
            </if>
        </trim>
    </update>

</mapper>