<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qdu.mobilePhone.dao.OrderDao">
    <resultMap id="hehe" type="Order">
        <result property="ord_id" column="ord_id"></result>
        <result property="pro_name" column="pro_name"></result>
        <result property="pro_price" column="pro_price"></result>
        <result property="ord_num" column="ord_num"></result>
        <result property="ord_total" column="ord_total"></result>
        <result property="pro_img" column="pro_img"></result>
        <result property="pro_desc" column="pro_desc"></result>
        <result property="ord_date" column="ord_date"></result>
        <association property="co" javaType="Color">
            <result property="id" column="id"></result>
            <result property="color" column="color"></result>
        </association>
        <association property="ve" javaType="Version">
            <result property="id" column="id"></result>
            <result property="version" column="version"></result>
        </association>
    </resultMap>

    <!--查询订单信息-->
    <select id="selAll" resultMap="hehe" parameterType="Order">
        SELECT `order`.Ord_id,`order`.Pro_name,`order`.Pro_price,`order`.Ord_num,`order`.Ord_total,`order`.Pro_img,color.color,version.version,`order`.Pro_desc,`order`.Ord_date FROM `order` ,color ,version
    </select>

    <insert id="addOrder" parameterType="Order">
        insert into `order`(pro_name,pro_price,ord_num,ord_total,pro_img,pro_color,pro_version,pro_desc,ord_date) values (#{pro_name},#{pro_price},#{ord_num},#{ord_total},#{pro_img},#{pro_color},#{pro_version},#{pro_desc},#{ord_date})
    </insert>

    <delete id="delOrder" parameterType="Integer">
        delete from `order` where ord_id=#{ord_id}
    </delete>

    <update id="updOrder" parameterType="Order">
        update order
        <trim prefix="set" suffixOverrides="," suffix="where ord_id=#{ord_id}">
            <if test="ord_num!=null and ord_num!=''">
                ord_num=#{ord_num},
            </if>
            <if test="pro_color!=null and pro_color!=''">
                pro_color=#{pro_color},
            </if>
            <if test="pro_version!=null and pro_version!=''">
                pro_version=#{pro_version},
            </if>
            <if test="ord_status!=null and ord_status!=''">
                ord_status=#{ord_status},
            </if>
        </trim>
    </update>

</mapper>